.ficna {
    font-size: 70px;
  line-height: 3;
  position: relative;
  display: inline-block;
  color: #703eb0;
  letter-spacing: 0px;
  font-weight: 600;
  margin-top: 10px;
}

/* header*/
* {
	margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
}
#header {
    position: absolute;
  z-index: 10;
  width: 100%
}
.navbar {
    padding: 50px 0;
}
.navbar-brand {
    font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #ccc !important;
}