img {
    vertical-align: middle;
    border-style:none;
}

.top-header-area {
    background: #f1f5fe;
    padding: 9px 0 12px 0;
}

.top-header-address ul {
    margin: 0;
    padding: 0;
}

.top-header-address ul li {
    list-style: none;
}

.top-header-address ul li a {
    color: #211e3b;
    font-size: 16px;
    font-weight: 400;
    margin-right: 22px;
    text-decoration: none;
}

.top-header-address ul li a i {
    font-size: 15px;
    margin-right: 6px;
    color: #5f4ff8;
}

.header-contact-num {
    text-align: right;
    font-size: 16px;
    font-weight: 400;
}

.header-contact-num i {
    font-size: 13px;
    color: #5f4ff8;
    padding: 0 5px;
}
span.top-add {
    border-right: 1px solid black;
    margin-right: 18px;
}

/*header-area-start*/
.mobile-menu-logo.text-center img {
    padding: 20px;
}

.mobile-menu-logo.text-center img {
    width: auto;
}

.mobile-menu.mean-container {
		overflow: hidden;
}

nav.imperial_menu {
    text-align: right;
}

.imperial_nav_manu{
    background: #fff;
    transition: .5s;
    margin-bottom: 0;
    z-index: 999;
    position: relative;
}

.imperial_nav_manu.style-three {
    padding: 15px 0;
}

.sticky {
    left: 0;
    margin: auto;
    position: fixed !important;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.1);
    background: #fff !important;
    transition: .5s;
}

/* bad Menu */
.imperial_menu ul {
    text-align: center;
    list-style: none;
    display: inline-block;
}

.imperial_menu>ul>li {
 display: inline-block;
 position: relative;
}

.imperial_menu > ul > li > a {
    display: block;
    -webkit-transition: .5s;
    transition: .5s;
    position: relative;
    color: #211e3b;
    font-weight: 600;
    text-transform: capitalize;
    margin: 35px 15px;
    font-size: 18px;
}

.imperial_menu ul li:last-child a {
 margin-right: 0px;
}

.imperial_menu>ul>li.current>a {
 color: #43baff;
}

.white .imperial_menu>ul>li.current>a {
 color: #fff;
}

/*sub menu*/

.imperial_menu ul .sub-menu {
    position: absolute;
    left: 0;
    top: 130%;
    width: 270px;
    text-align: left;
    background: #fff;
    margin: 0;
    z-index: 1;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
    border-top: 2px solid #5A49F9;
}

.imperial_menu ul .sub-menu li {
 position: relative;
}

.sub-menu li a {
    display: block;
    padding: 16px 20px;
    margin: 0;
    line-height: 1.3;
    letter-spacing: normal;
    font-size: 14px;
    color: #6e7673;
    border-radius: 0;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    transition: .1s;
    visibility: inherit !important;
    border-bottom: 1px solid #ddd;
}

a.added-new-demo:after {
    margin-left: 5px;
    content: "\f107";
    font-family: FontAwesome;
    font-size: 13px;
    opacity: 0.5;
}

.header-search-button {
    text-align: right;
}

.search-box-btn.search-box-outer {
    display: inline-block;
}

.header-donate-btn {
    display: inline-block;
}

.header-social-icon {
    color: #fff;
    display: inline-block;
    margin-right: 15px;
}

.header-social-icon a {
    color: #fff;
}

.header-search-button {
    text-align: right;
}

.header-donate-btn {
    display: inline-block;
}

.header-donate-btn a {
    display: inline-block;
    color: #fff;
    font-size: 17px;
	transition:0.3s;
}

.header-donate-btn a.header-btn {
    color: #fff;
    background: linear-gradient( to right, #533EFF  0%, #740FD7 97%);
    border: 1px solid #695AF8;
    padding: 9px 37px;
    vertical-align: middle;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
	transition:0.3s;
}

a.header-btn i {
    font-size: 14px;
    font-weight: 600;
    padding-left: 2px;
}

.imperial_menu ul li:hover>.sub-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
    border-radius: 0 0 5px 5px;
    z-index: 9;
    padding: 5px 0 5px 0;
}

.imperial_menu ul .sub-menu li:hover>a,
.imperial_menu ul .sub-menu .sub-menu li:hover>a,
.imperial_menu ul .sub-menu .sub-menu .sub-menu li:hover>a,
.imperial_menu ul .sub-menu .sub-menu .sub-menu .sub-menu li:hover>a {
	color: #fff!important;
    background: linear-gradient(to right, #533EFF 0%, #740FD7 97%);
}
.imperial_menu > ul > li > a:hover{
    color: #5A49F9 !important;
}
.header-donate-btn a:hover {
    background: #fff;
    border-color: #fff;
    color: #5f4ff8;
}
.header-donate-btn a:hover {
    background: linear-gradient( to right, #740FD7 0%, #533EFF 97%);
    border-color: #695AF8;
    color: #fff;
}